{
    "tagFormat": "v${version}",
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/changelog",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "sed -i 's/^version = \".*\"/version = \"${nextRelease.version}\"/' Cargo.toml && cargo check",
                "publishCmd": "cargo publish --allow-dirty --no-verify"
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "Cargo.toml",
                    "Cargo.lock",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): version ${nextRelease.version} \n\n${nextRelease.notes}"
            }
        ]
    ]
}